# Dependencies
node_modules/

# Build output
dist/
dist-ssr/

# Rust
src-tauri/target/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Environment & secrets
.env
.env.*
*.local

# Editor
.vscode/*
!.vscode/extensions.json
.idea/

# OS
.DS_Store
Thumbs.db
Desktop.ini

# Misc
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
